fastapi
uvicorn[standard]
python-multipart
httpx

# Vision
torch
transformers
Pillow
mediapipe
# Mistral API
mistralai
python-dotenv

pydantic
sqlalchemy
alembic
bcrypt
# Frontend
streamlit
requests
opencv-python
# Tests
pytest
pytest-asyncio
ruff
